**/__pycache__/**

*.pyc

dist/*

django_speaker.egg-info/*

media/*

gateway/settings/secret.py

gateway/logs/*.log

gateway/logs/*.log.*

nbproject

.~lock.*

.buildpath

.DS_Store

.idea

.project

celerybeat-schedule